html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $dk-blue;
  background: white;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: 32px;
  font-family: "Inter", sans-serif;

  position: relative;

  @media (min-width: 1440px) {
    display: flex;
    justify-content: center;
  }
}

.mobile-bg-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 270px;
  height: 74px;

  @media (min-width: 1440px) {
    width: 604px;
    height: 152px;
  }

  z-index: -1;
}

.wrapper {
  padding-top: 54px;
  padding-right: 34px;
  padding-left: 34px;
  padding-bottom: 80px;

  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 1440px) {
    padding-top: 113px;
    padding-bottom: 147px;

    display: grid;
    grid-template-columns: 570px, 540px;
  }
}

.wrapper__slider-container {
  @media (min-width: 1440px) {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    grid-column-start: 2;
  }
}

.wrapper__testimony-container {
  @media (min-width: 1440px) {
    height: 100%;
    width: 100%;

    min-width: 568px;
    max-width: 568px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    grid-row-start: 1;
  }
}
