html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $dk-blue;
  background: white;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: 32px;
  font-family: "Inter", sans-serif;

  position: relative;
}

.mobile-bg-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 270px;
  height: 74px;

  z-index: -1;
}

.wrapper {
  padding-top: 54px;
  padding-right: 34px;
  padding-left: 34px;
  padding-bottom: 80px;

  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
