.slider {
  position: relative;

  min-width: 253px;
  max-width: 253px;
  max-height: 253px;

  margin-bottom: 88px;

  @media (min-width: 1440px) {
    min-width: 540px;
    min-height: 540px;

    margin-bottom: 0px;
    align-self: center;
  }

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.slider__tanya {
  width: 100%;
  max-width: 253px;
  min-height: 253px;
  max-height: 253px;

  border-radius: 5px;

  @media (min-width: 1440px) {
    max-width: 540px;
    min-height: 540px;
  }

  transition: width 0.8s ease-in-out;
}

.slider__john {
  position: absolute;
  right: 0;

  width: 0; //default 0
  max-width: 253px;
  min-height: 253px;
  max-height: 253px;

  @media (min-width: 1440px) {
    max-width: 540px;
    min-height: 540px;
  }

  transition: width 0.8s ease-in-out;
}

.slider__bg {
  //positioning
  position: absolute;
  left: -38px;
  top: -32px;

  //size
  width: 327px;
  height: 308px;

  @media (min-width: 1440px) {
    left: -63px;
    top: -63px;

    width: 697px;
    height: 658px;
  }

  //background
  background: url(./images/pattern-bg.svg);
  background-position: center;
  background-size: cover;

  z-index: -1;
}

.slider__button {
  //positioning
  position: absolute;
  bottom: -20px;
  right: 34%;

  //size
  width: 82px;
  height: 40px;
  background-color: white;

  //border
  border-radius: 30px;
  padding: 0px 16px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  //flex
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 1440px) {
    left: 90px;
  }

  img {
    width: 10px;
    height: 12px;
  }
}
