.testimony {
  position: relative;
  margin-bottom: 26px;

  min-width: 307px;
  min-height: 132.6px;

  @media (min-width: 1440px) {
    //temporary
    // display: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
  }

  p {
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    margin: 0;
    max-width: 519px;

    @media (min-width: 1440px) {
      position: absolute;
      left: 0;

      min-width: 624px;
      font-size: 32px;
      text-align: left;
    }
  }

  &__tanya {
    transition: opacity 0.8s ease-in-out;
  }

  &__john {
    position: absolute;
    top: 0;

    opacity: 0;
    transition: opacity 0.8s ease-in-out;
  }
}

.testimony__bg {
  //positioning
  position: absolute;
  top: -27px;
  right: 40%;

  //size
  width: 60px;
  height: 50px;

  //background
  background: url(./images/pattern-quotes.svg);
  background-position: center;
  background-size: cover;

  // z-index: -1;
}
