.user {
  position: relative;

  @media (min-width: 1440px) {
    width: 406px;
    // display: none;
    // display: flex;
  }
}

.user__tanya,
.user__john,
.user__job__tanya,
.user__job__john {
  display: block;
  text-align: center;
  font-size: 15px;

  transition: opacity 0.8s ease-in-out;

  @media (min-width: 1440px) {
    display: inline;
    font-size: 20px;
  }
}

.user__tanya,
.user__john {
  font-weight: 700;
}

.user__john {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);

  @media (min-width: 1440px) {
    line-height: normal;
    top: 75%;
    left: 0;
    transform: translate(0%, -75%);
  }

  opacity: 0;
}

.user__job__tanya,
.user__job__john {
  font-weight: 500;
  color: $gr-blue;
}

.user__job__john {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);

  @media (min-width: 1440px) {
    bottom: 5%;
    left: 100%;
    transform: translate(-100%, -5%);
  }

  opacity: 0;
  white-space: nowrap;
}
